
*.pyc
*.info
*.rdat
*.tdat
*.dat
*.html
*.pdf
*.svg
*.tex
*.js
*.pyc
.DS_Store
.DS_Store
*.pyc

*.pyc
*.pyc
*.txt
*.tsv
*.txt
*.pyc
results/.DS_Store
*.tsv
src/utilities/__pycache__/__init__.cpython-36.pyc
*.pyc
*.pyc
